<section id="cuartoCont">
    <div>
        <h1>23.4K</h1>
        <p>
            Active Merchants
        </p>
    </div>
    <div>
        <h1>$3.4K</h1>
        <p>
            Revenues in 2018
        </p>
    </div>
    <div>
        <h1>873K</h1>
        <p>
            Downloads
        </p>
    </div>
    <div>
        <h1>87+</h1>
        <p>
           Countries
        </p>
    </div>
    <div>
        <h1>$58</h1>
        <p>
            Revenue Per Hour
        </p>
    </div>
</section>