<section id="section4">
    <h1>Short heading</h1>

    <p>Each and every one of us has that moment when we are suddenly stunned when we come face to face with the
        enormity of the universe.
    </p>

    <div class="features">
        <div>
            <img src="../../../../assets/MediumCircleAndStar.png" alt="">
            <h3>Feature 1</h3>
        </div>

        <div>
            <img src="../../../../assets/MediumCircleAndStar.png" alt="">
            <h3>Feature 2</h3>
        </div>

        <div>
            <img src="../../../../assets/MediumCircleAndStar.png" alt="">
            <h3>Feature 3</h3>
        </div>

        <div>
            <img src="../../../../assets/MediumCircleAndStar.png" alt="">
            <h3>Feature 4</h3>
        </div>
    </div>

    <img src="../../../../assets/window.png" alt="">
</section>

<section id="section5">

    <img src="../../../../assets/comilla.png" alt="">

    <div id="changeableinfo">
        <img src="../../../../assets/flechaIzquierda.png" alt="">

        <p>There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun. The
            truth is the universe is a constantly changing, moving, some would say “living” thing because you just
            never know what you are going to see on any given night of stargazing.
        </p>

        <img src="../../../../assets/flechaDerecha.png" alt="">
    </div>

    <img src="../../../../assets/google.png" alt="">

    <h1>Charlie Mendoza</h1>

    <h2>Product Designer</h2>

    <h3>Learn more</h3>

</section>

