<section id="section1">

    <header id="header">
        <nav id="menu">
            <ul id="leftMenu">
                <li><a href="Vista2">First Link</a></li>
                <li><a href="Vista1">Second Link</a></li>
                <li><a href="Vista1">Third Link</a></li>
            </ul>

            <div id="logo">
                <img src="../../../../assets/Logo.png" alt="logo">
            </div>

            <ul id="rightMenu">
                <li><a href="Vista1">Fourth Link</a></li>
                <li><a href="Vista1">Fifth Link</a></li>
                <li><a href="Vista1">Sixth Link</a></li>
            </ul>
        </nav>
    </header>

    <div id="heading">

        <div id="subscription">

            <div id="information">
                <h1>Heading</h1>
                <h3>Let's talk a little about what symptoms a slow computer can have.</h3>
            </div>

            <div>
                <form>
                    <input type="text" id="name" name="name" placeholder="Name">
                    <input type="text" id="email" name="email" placeholder="Email">
                    <div id="confirmSub">
                        <input type="submit" value="Subscribe">
                    </div>
                </form>
            </div>

        </div>

        <div id="window">
            <img src="../../../../assets/window.png" alt="">
        </div>

    </div>

    <div id="statistics">
        <img src="../../../../assets/CircleAndStar.png" alt="CircleStar" class="center">
        <p>Over 92% of computers are infected with Adware and spyware. Such software <br> 
            is rarely accompanied by uninstall utility and even when it almost always <br>
            leaves broken Windows Registry keys behind it. Even if you have an <br> 
            anti-spyware tool, your Windows Registry might be broken.
        </p>
    </div>
</section>