<section id="lastSection">
    <div id="logo">
        <img src="../../../../assets/logotext.png" alt="Logo">
        <nav id="lastMenu">
            <ul>
                <h1>Category</h1>
                <li><a href="#">First Link</a></li>
                <li><a href="#">Second Long Link</a></li>
                <li><a href="#">Third Link</a></li>
            </ul>
        </nav>
    </div>
    <div id="secondRow">
        <nav id="secondLastMenu">
            <ul>
                <h1>Category</h1>
                <li><a href="#">First Link</a></li>
                <li><a href="#">Second Long Link</a></li>
                <li><a href="#">Third Link</a></li>
                <li><a href="#">Fourth Long Link</a></li>
                <li><a href="#">Fifth Link</a></li>
                <li><a href="#">Sixth Long Link</a></li>
            </ul>
        </nav>
        <nav id="secondLastMenu">
            <ul>
                <h1>Category</h1>
                <li><a href="#">First Link</a></li>
                <li><a href="#">Second Long Link</a></li>
                <li><a href="#">Third Link</a></li>
                <li><a href="#">Fourth Long Link</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <nav id="thirdLastMenu">
            <ul>
                <li><img src="../../../../assets/facebook.png"><a href="#">Facebook</a></li>
                <li><img src="../../../../assets/youtube.png"><a href="#">Youtube</a></li>
                <li><img src="../../../../assets/instagram.png"><a href="#">Instagram</a></li>
                <li><img src="../../../../assets/twitter.png"><a href="#">Twitter</a></li>
            </ul>
        </nav>
    </div>
</section>
<footer id="footerEnd">
    <nav id="menuLast">
        <p> &copy; Copyright 2020 Pixsellz - Premium UI Goods for Designers</p>
        <ul>
            <li><a href="#">First Link</a></li>
            <li><a href="#">Second Link</a></li>
            <li><a href="#">Third Link</a></li>
        </ul>
    </nav>
</footer>
