<section id="sectionCont3">
    <div id="contentCont3">
        <img src="../../../../assets/Graphics (Logo, Icons & Illustrations).png" alt="Estrella">
        <h1>Heading</h1>
        <p>
            You will likely be required to install the fixed <br>
            mounts. These are what will keep the apparatus <br>
            stable and secure with your computer monitor in <br>
            it. Follow directions carefully so that <br>
            you can be sure to get everything.
        </p>
        <a href="#">Learn more</a>
    </div>
    <div id="contentCont3">
        <img src="../../../../assets/Graphics (Logo, Icons & Illustrations).png" alt="Estrella">
        <h1>Heading</h1>
        <p>
            You will likely be required to install the fixed <br>
            mounts. These are what will keep the apparatus <br>
            stable and secure with your computer monitor in <br>
            it. Follow directions carefully so that <br>
            you can be sure to get everything.
        </p>
        <a href="#">Learn more</a>
    </div>
    <div id="contentCont3">
        <img src="../../../../assets/Graphics (Logo, Icons & Illustrations).png" alt="Estrella">
        <h1>Heading</h1>
        <p>
            You will likely be required to install the fixed <br>
            mounts. These are what will keep the apparatus <br>
            stable and secure with your computer monitor in <br>
            it. Follow directions carefully so that <br>
            you can be sure to get everything.
        </p>
        <a href="#">Learn more</a>
    </div>
</section>
