@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200&display=swap');

$fuentebold: 'Inter';
$colorlist: #1c1c1c;
$colortext: #585757;
$colorbox: #24AFB5;
$colorfecha: #969696;
$colorfooter: #F7F7F7;




#quintoCont {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    //a
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    //e

    #text5Section {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 110px;
        color: $colorlist;
        font-size: 48px;
        font-family: $fuentebold;
        font-weight: 700;
        line-height: 60px;
        word-wrap: break-word;
    }

    #par5Section {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: #585757;
        font-size: 20px;
        font-family: $fuentebold;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
    }

    #gridCont {
        display: grid;
        grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
        text-align: center;
        gap: 30;
        margin-top: 100px;
        margin-bottom: 100px;

        #flecha img {
            width: 40%;
        }

        img {
            width: 15%;
        }

        h1 {
            color: $colorlist;
            font-size: 24px;
            font-family: $fuentebold;
            font-weight: 600;
            line-height: 32px;
            word-wrap: break-word
        }

        p {
            color: $colortext;
            font-size: 15px;
            font-family: $fuentebold;
            font-weight: 400;
            line-height: 22px;
            word-wrap: break-word
        }
    }
}

#sextoCont {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    text-align: justify;
    //a
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    //e
    margin-left: 145px;


    #iphonex {
        grid-column: 3;
        margin-top: 100px;

        img {
            margin-right: 200px;
        }
    }

    #contentCont1 {
        margin-top: 100px;

        img #estrella {
            width: 10%;
        }

        h1 {
            color: $colorlist;
            font-size: 45px;
            font-family: $fuentebold;
            margin-top: 20px;
            font-weight: 700;
            line-height: 60px;
            word-wrap: break-word
        }

        p {
            color: $colortext;
            font-size: 19px;
            font-family: $fuentebold;
            font-weight: 400;
            line-height: 30px;
            margin-top: 20px;
            word-wrap: break-word
        }

        a {
            color: $colorbox;
            margin-top: 10px;
            font-size: 20px;
            font-family: $fuentebold;
            font-weight: 600;
            line-height: 40px;
            word-wrap: break-word
        }
    }
}