<section id="septCont">
    <div id="contentCont3">
        <img src="../../../../assets/Image2.png" alt="placeholder">
        <h1>01 MAY 2020</h1>
        <h2>Heading</h2>
        <p>
            Moment in the life of any aspiring <br>
            astronomer of that it is time to buy <br>
            that first telescope.
        </p>
        <div id="bottomText1">
            <img src="../../../../assets/visibility.png" alt="eye">
            <p>7.4k</p>
            <img src="../../../../assets/visibility2.png" alt="text">
            <p>31</p>
        </div>
    </div>
    <div id="contentCont3">
        <img src="../../../../assets/Image2.png" alt="placeholder">
        <h1>01 MAY 2020</h1>
        <h2>Two line header <br> 
            example</h2>
        <p>
            Moment in the life of any aspiring <br>
            astronomer of that it is time to buy <br>
            that first telescope.
        </p>
        <div id="bottomText1">
            <img src="../../../../assets/visibility.png" alt="eye">
            <p>7.4k</p>
            <img src="../../../../assets/visibility2.png" alt="text">
            <p>31</p>
        </div>
    </div>
    <div id="contentCont3">
        <img src="../../../../assets/Image2.png" alt="placeholder">
        <h1>01 MAY 2020</h1>
        <h2>Heading</h2>
        <p>
            Moment in the life of any aspiring <br>
            astronomer of that it is time to buy <br>
            that first telescope.
        </p>
        <div id="bottomText1">
            <img src="../../../../assets/visibility.png" alt="eye">
            <p>7.4k</p>
            <img src="../../../../assets/visibility2.png" alt="text">
            <p>31</p>
        </div>
    </div>
    <div id="contentCont3">
        <img src="../../../../assets/Image2.png" alt="placeholder">
        <h1>01 MAY 2020</h1>
        <h2>Two line header <br> 
            example</h2>
        <p>
            Moment in the life of any aspiring <br>
            astronomer of that it is time to buy <br>
            that first telescope.
        </p>
        <div id="bottomText1">
            <img src="../../../../assets/visibility.png" alt="eye">
            <p>7.4k</p>
            <img src="../../../../assets/visibility2.png" alt="text">
            <p>31</p>
        </div>
    </div>
</section>
<section id="sectionCont8">
    <div id="textSection">
        Two line long header example <br> 
        for your web proyect
    </div>
    <div id="parSection">
        Each an every one of us has that moment when we are suddenly stunned <br>
        when we come face to face with the enormity of the universe.
    </div>
    <div id="formSection">
        <form>
            <input type="text" value="Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
    <div id="smallText">
        No spam, notifications only about new products, updates and freebies. <br>
        You can always unsubscribe.
    </div>
</section>
