
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200&display=swap');

$fuentebold: 'Inter';
$colorlist: #1c1c1c;
$colorbox: #24AFB5;

#sectionCont {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;

    #textSection {
        margin-top: 150px;
        color: $colorlist;
        font-size: 48px;
        font-family: $fuentebold;
        font-weight: 700;
        line-height: 60px;
        word-wrap: break-word;
    }

    #parSection {
        color: #585757;
        font-size: 20px;
        font-family: $fuentebold;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
    }

    #formSection {
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }

    #formSection input[type="text"] {
        color: #585757;
        opacity: 0.40;
        outline: none;
        width: 400px;
        height: 40px;
        font-size: 20px;
        font-family: $fuentebold;
        border: 1px solid #585757;
        border-radius: 5px;
        font-weight: 400;
        line-height: 30px;
        word-wrap: break-word
    }

    #formSection input[type="submit"] {
        background-color: $colorbox;
        width: 150px;
        height: 43px;
        color: white;
        font-size: 20px;
        border: 1px solid $colorbox;
        font-family: $fuentebold;
        border-radius: 5px;
        margin-left: 13px;
        font-weight: 600;
        line-height: 26px;
        word-wrap: break-word
    }

    #smallText {
        color: #969696;
        font-size: 13px;
        font-family: $fuentebold;
        margin-top: 15px;
        font-weight: 400;
        line-height: 18px;
        word-wrap: break-word
    }

    img {
        margin-top: 50px;
    }
}

#sectionCont2 {
    //a
    width: 90%;
    height: auto;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 20px;
    //e
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid grey;

    #textSection2 {
        color: $colorlist;
        font-size: 36px;
        font-family: $fuentebold;
        margin-top: 110px;
        margin-bottom: 110px;
        font-weight: 700;
        line-height: 46px;
        word-wrap: break-word
    }
}
