<section id="sectionCont">
    <div id="textSection">
        Two line long header example <br> 
        for your web proyect
    </div>
    <div id="parSection">
        Poster can be one of the effective marketing and advertising materials. It is also <br>
        a great tool to use when you want to present your.
    </div>
    <div id="formSection">
        <form>
            <input type="text" value="Email">
            <input type="submit" value="Subscribe">
        </form>
    </div>
    <div id="smallText">
        No spam, notifications only about new products, updates and freebies. <br>
        You can always unsubscribe.
    </div>
    <div id="img">
        <img src="../../../../assets/iPhone X.png" alt="iPhone">
    </div>
</section>
<section id="sectionCont2">
    <div id="textSection2">
        Like rock stars, asteroids have been given <br>
        their fair share of urban myth and lore. <br>
        Many have attributed the extinction of the <br>
        dinosaurs to the impact of a huge asteroid <br>
        on the earth.
    </div>
</section>
