<section id="section2">

    <div id="lineHeaders">

        <div class="lines">
            <div>
                <img src="../../../../assets/SmallCircleandStar.png" alt="CircleStar" class="center">
                <h1>One line header</h1>
            </div>
            <p>Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall
                utility.
            </p>
        </div>

        <div class="lines">
            <div>
                <img src="../../../../assets/SmallCircleandStar.png" alt="CircleStar" class="center">
                <h1>One line header</h1>
            </div>
            <p>Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall
                utility.
            </p>
        </div>

        <div class="lines">
            <div>
                <img src="../../../../assets/SmallCircleandStar.png" alt="CircleStar" class="center">
                <h1>One line header</h1>
            </div>
            <p>Computers are infected with Adware and spyware. Such software is rarely accompanied by uninstall
                utility.
            </p>
        </div>

    </div>

    <img src="../../../../assets/window.png" alt="">
</section>

<section id="section3">

    <img src="../../../../assets/graph.png" alt="">

    <div id="percentages">

        <div class="moreStatistics">
            <div class="pointing">
                <img src="../../../../assets/OvalUpLeft.png" alt="">
                <p>28%</p>
            </div>

            <p class="description">Downloads</p>
        </div>

        <div class="moreStatistics">
            <div class="pointing">
                <img src="../../../../assets/OvalupRight.png" alt="">
                <p>22%</p>
            </div>

            <p class="description">Users</p>
        </div>

        <div class="moreStatistics">
            <div class="pointing">
                <img src="../../../../assets/OvalDownLeft.png" alt="">
                <p>37%</p>
            </div>

            <p class="description">Subscribers</p>
        </div>

        <div class="moreStatistics">
            <div class="pointing">
                <img src="../../../../assets/OvalDownRight.png" alt="">
                <p>13%</p>
            </div>

            <p class="description">Products</p>
        </div>
    </div>

    <div id="videogames">
        <p>The quality of today's video game was not at all there when video game first conceptualized and played
            ever. During the formulative years, video games were created by using various interactive electronic
            devices with various display.
        </p>

        <p>Video games were created by using various interactive electronic devices with various display.</p>
    </div>

</section>
